body{
	background: #efefef;
	font-family: Helvetica;
	font-weight: 600;
	color: rgb(8,29,88);
}
h1{
	font-size: 2em;
	padding-bottom: .5em;
	padding-left: 1.2em;

}
.highlight{
	background: rgb(37,52,148)!important;
}
path{
	fill: none;
	stroke: rgb(8,29,88);
	stroke-width: 1;
}
#tooltip{
	position: absolute;
 	pointer-events: none;
 	background: rgb(8,29,88);
 	color: white;
 	border-radius: 4px;
 	padding: 0px 10px;
 	font-size: .5em;
}
.controls ul{
	width: 50%;
}

li{
	  list-style-type: none;
	  display: inline!important;
}
.legend {
    padding: .5em 1em;
	border-top-width: 15px;
    border-top-style: solid;
}
.hidden{
	display: none;
}
.btn {
    border: none;
    font-family: Helvetica;
    font-size: .9em;
    border-radius: 4px;
    line-height: 1.471;
    font-weight: 600;
    line-height: 1.3;
    padding: 5px 10px;
	background: rgb(8,29,88);
    color: white;
	
}